* {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

// 폰트 패밀리가 적용되지 않을 때를 대비해 3번!
body {
  font-family: 'Noto Sans KR', sans-serif;
}

// normailze.css에서 준 마진 덮어 씌우기
h1 {
  margin: 0;
}

// 끔찍한 a태그 데코 없애기
a {
  color: inherit;
  text-decoration: none;
}

// form 관련 태그들의 보더 없애기
button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  // 포커스시 생기는 효과 없애기
  // 단 한줄 추가로 포커스 해결 SCSS짱!
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// 클릭해야하는 태그에 커서 전환
a,
button {
  cursor: pointer;
}

// 리스트의 점과 패딩 없애기
ul,
ol {
  list-style: none;
  padding-left: 0;
}
